.header-wrapper{
    /* background-color: aquamarine; */
    /* height: 100vh; */
    display: flex;
}

.navbar {
    width: -webkit-fill-available;
    /* height: 117px; */
}

.nav-btns{
    /* margin-right: 50px; */
    background-color: #E8EEFF;
    height: 44px;
    border-radius: 50%;
    margin-right: 20px;
}
/* .container-fluid{
    position: relative;
    top: 25px;
 
} */

a {
    font-size: 24px;
}

.h-wrapper{
    width: -webkit-fill-available;
}

.profile-pic{
    height: 24px;
}