.sidebar-wrapper{
    background-color: rgb(214 214 214 / 69%);
    width: 230px;
    position: relative;
}

.logo {
    text-align: center;
    justify-content: center;
    display: flex;
    height: 67px;
    align-items: center;
}

.slide-btn{
    position: absolute;
    bottom: -19px;
    left: -18px;
    color: blue;
    background-color: #eaeaea;
}

.slide-btn:hover {
    color: #eaeaea;
    background-color: blue;
}

.sidebar-none {
    display: none;
}

.side-bar-list{
    list-style-type: none;
    padding: 0px;
    text-align: center;
}

li{
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-evenly;
}

li:hover{
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-evenly;
    color: blue;
}

.sidebar-footer {
    position:absolute;
    bottom: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-element{
    padding: 11px;
    border-radius: 15px;
    background-color: #d1e7fb;
}

ul{
    padding-left: 0px;
}

.headphones{
    margin-right: 20px;
}