.sidebar-wrapper{
    background-color: rgb(175, 95, 95);
    width: 230px;
    position: relative;
}

.logo {
    text-align: center;
    justify-content: center;
    display: flex;
    height: 113px;
    align-items: center;
}

.slide-btn{
    position: absolute;
    bottom: -19px;
    left: -18px;
    background-color: aquamarine;
}

.sidebar-none {
    display: none;
}

.side-bar-list{
    list-style-type: none;
    padding: 0px;
    text-align: center;
}

li{
    margin-top: 40px;
    margin-bottom: 40px;
}
